<h1>Welcome to Dirt BnB!</h1>

<h4>Here are the current listings:</h4>
<% if @listings.any? %>
  <% @listings.each do |listing| %>
    <ul>
      <li><%= link_to listing.title, listing_path(listing) %></li>
    </ul>
  <% end %>
<% else %>
  <h3>No listings on this site. Yet. </h3>
<% end %>
